<main class="main-content col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Bienvenido</h1>
  </div>

  <div class="table-responsive container-fluid">
    <div class="row">
      <div _ngcontent-hxj-c8="" class="card card-plain">
        <div _ngcontent-hxj-c8="" class="card-header card-header-danger">
          <h4 _ngcontent-hxj-c8="" class="card-title mt-0">
            Table on Plain Background
          </h4>
          <p _ngcontent-hxj-c8="" class="card-category">
            Here is a subtitle for this table
          </p>
        </div>
        <div _ngcontent-hxj-c8="" class="card-body">
          <div _ngcontent-hxj-c8="" class="table-responsive">
            <table _ngcontent-hxj-c8="" class="table table-hover">
              <thead _ngcontent-hxj-c8="" class="">
                <th _ngcontent-hxj-c8="">ID</th>
                <th _ngcontent-hxj-c8="">Name</th>
                <th _ngcontent-hxj-c8="">Country</th>
                <th _ngcontent-hxj-c8="">City</th>
                <th _ngcontent-hxj-c8="">Salary</th>
              </thead>
              <tbody _ngcontent-hxj-c8="">
                <tr _ngcontent-hxj-c8="">
                  <td _ngcontent-hxj-c8="">1</td>
                  <td _ngcontent-hxj-c8="">Dakota Rice</td>
                  <td _ngcontent-hxj-c8="">Niger</td>
                  <td _ngcontent-hxj-c8="">Oud-Turnhout</td>
                  <td _ngcontent-hxj-c8="">$36,738</td>
                </tr>
                <tr _ngcontent-hxj-c8="">
                  <td _ngcontent-hxj-c8="">2</td>
                  <td _ngcontent-hxj-c8="">Minerva Hooper</td>
                  <td _ngcontent-hxj-c8="">Curaçao</td>
                  <td _ngcontent-hxj-c8="">Sinaai-Waas</td>
                  <td _ngcontent-hxj-c8="">$23,789</td>
                </tr>
                <tr _ngcontent-hxj-c8="">
                  <td _ngcontent-hxj-c8="">3</td>
                  <td _ngcontent-hxj-c8="">Sage Rodriguez</td>
                  <td _ngcontent-hxj-c8="">Netherlands</td>
                  <td _ngcontent-hxj-c8="">Baileux</td>
                  <td _ngcontent-hxj-c8="">$56,142</td>
                </tr>
                <tr _ngcontent-hxj-c8="">
                  <td _ngcontent-hxj-c8="">4</td>
                  <td _ngcontent-hxj-c8="">Philip Chaney</td>
                  <td _ngcontent-hxj-c8="">Korea, South</td>
                  <td _ngcontent-hxj-c8="">Overland Park</td>
                  <td _ngcontent-hxj-c8="">$38,735</td>
                </tr>
                <tr _ngcontent-hxj-c8="">
                  <td _ngcontent-hxj-c8="">5</td>
                  <td _ngcontent-hxj-c8="">Doris Greene</td>
                  <td _ngcontent-hxj-c8="">Malawi</td>
                  <td _ngcontent-hxj-c8="">Feldkirchen in Kärnten</td>
                  <td _ngcontent-hxj-c8="">$63,542</td>
                </tr>
                <tr _ngcontent-hxj-c8="">
                  <td _ngcontent-hxj-c8="">6</td>
                  <td _ngcontent-hxj-c8="">Mason Porter</td>
                  <td _ngcontent-hxj-c8="">Chile</td>
                  <td _ngcontent-hxj-c8="">Gloucester</td>
                  <td _ngcontent-hxj-c8="">$78,615</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
